@keyframes spin {
  0% { transform: rotate(0); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(-360deg); }
}

@keyframes scale {
  0% { transform: scale(1.0); }
  50% { transform: scale(1.05); }
  100% { text-replace: scale(1.0); }
}

:root {
  --main-color: linear-gradient(pink,purple);
}

* {
  background-color: rgb(30, 30, 30);
  color: white;
  scale: 1;
  font-size: 30px;
  top: 0;
  margin: 0;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
}

body::selection {
  background-color: pink;
  color: black;
  text-shadow: 0 0 18px red;
}

.search {
    text-align: center;
    background: linear-gradient(0deg, rgb(20,20,20), rgb(30, 30, 30));
    padding: 20px 0 20px 0;
}

.search-box {
    padding: 10px 0 10px 50px;
    border-radius: 10px;
    border: 1px white solid;
    transition: 0.3s ease;
}

.search-box:hover {
  background-color: rgba(255,255,255,0.1);
  scale: 1.1;
  padding-right: 45px;
  margin-right: 50px;
  margin-left: 52px;
  animation: scale 1s linear infinite;
}

.tool-search {
    padding: 10px 5px 10px 5px;
    border-radius: 25pc 10pc 10pc 25pc;
    border: 1px white solid;
    transition: 0.3s ease;
}

.tool-search:hover {
  background-color: rgba(255,255,255,0.1);
  margin: 0 10px;
  animation: scale 1s linear infinite;
}

.search-button {
    cursor: pointer;
    padding: 10px 30px 10px 20px;
    border-radius: 10pc 25pc 25pc 10pc;
    justify-content: center;
    border: 1px white solid;
    transition: 0.3s ease;
}

.search-button:hover {
  background-color: rgba(255,255,255,0.1);
  animation: scale 1s linear infinite;
}

body>h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  padding: 20px 0 0 50px;
  transition: 0.3s ease;
}

.listMXH {
    padding-top: 25px;
    transition: 0.3s ease;
}

li {
    width: 150px;
    text-align: center;
}

li>div {
    background: rgba(200,200,200,0.1);
    color: white;
    border-radius: 10px;
}

li,li>img {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  background: rgb(10,10,10);
  cursor: pointer;
  margin: 10px 10px 0 10px;
  transform: scale(1);
  transition: 0.3s ease,box-shadow 0.3s ease;
}

li:hover img {
  transform: scale(1.3) translateY(-25px);
  box-shadow: 0 0 18px lightgreen;
  /* animation: scale 1s linear infinite; */
}

li:hover {
  transform: scale(1.3) translateY(-20px);
  margin: 0 30px;
  border: 1px solid white;
  box-shadow: 0 0 18px rgba(255, 255, 255, 1);
}

li:hover + li {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.5);
}

li:has(+ li:hover) {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.5);
}

/* Popup */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.popup {
  background: rgb(200,200,200);
  padding: 20px 24px;
  border-radius: 12px;
  width: 1000px;
  text-align: center;
  border-radius: 25px;
  
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.3s ease;
}
.popup>h3 {
  border-radius: 25px 25px 0 0;
  display: inline-block;
  background-color: rgba(0,0,0,0.0);
  color: black;
}
.popup>p {
  border-radius: 0 0 25px 25px;
  border-radius: 25px;
}
.search2 {
  text-align: center;
  background: linear-gradient(0deg, rgb(20,20,20), rgb(30, 30, 30));
  padding: 20px 0 20px 0;
  border-radius: 25px;
}

.popup>button {
  margin-top: 10px;
  padding: 0 10px 4px 10px;
  border-radius: 25pc;
  cursor: pointer;
  font-size: 25px;
  color: white;
  background-color: red;
  font-weight: 800;
  text-align: right;
  display: inline-block;
  margin-left: 88%;
  border: 1px white solid;
  transition: 0.3s ease;
}

.popup>button:hover {
  background-color: white;
  color: red;
  transform: scale(1.2);
  box-shadow: 0 0 18px red;
}

.overlay.show .popup {
  transform: scale(1);
  opacity: 1;
}

/* test */
.test2 {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 65px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  border: 1px solid white;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.test {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 65px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  border: 1px solid white;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.test:hover {
  color: transparent;
  background-color: transparent;
  border: transparent;
}

.menu {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 65px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  border: 1px solid white;
  padding: 0 10px 14px 10px;
  rotate: 90deg;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 25px;
}

.menu:hover {
  animation: spin 0.1s linear infinite;
  box-shadow: 0 0 18px white;
  transform: scale(1.1);
}

.menu:active {
  transform: scale(1.5);
}

#menu {
  position: absolute;
  right: 10px;
  top: 120px;
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  transition: 0.3s ease;
  background-color: rgba(0,0,0,0.0);
  text-align: center;
}

#menu.show {
  display: block;
  max-height: 300px;
  max-width: 150px;
}

#menu>a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid white;
  display: block;
  min-width: 150px;
  border-radius: 25px;
  transition: 0.3s ease;
}

#menu>a:hover {
  box-shadow: 0 0 18px white;
  margin: 15px 0;
}

/* Footer */
footer {
  top: 50px;
  text-align: center;
}

footer>div {
  display: inline-block;
  right: 0;
  left: 0;
  top: 10px;
  margin: 0 20px;
}

footer>div>h1 {
  font-size: 50px;
  font-weight: 600;
}

footer>div>p:hover {
  text-shadow: 0 0 18px white;
}

.footer-title {
  padding-bottom: 20px;
}

/* Conection */
.social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.0);
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  display: inline-block;
  margin: 0 20px;
  padding: 10px;
}

.social-icon:hover {
  transform: translateY(-5px) rotate(360deg);
  box-shadow: 0 0px 18px rgba(255, 0, 128, 1);
}

/* Note */
note {
  display: none;
}

.hr {
  display: none;
}

/* Troll */
.def {
  display: none;
}

.abc:hover + .def {
  display: inline;
}

.abc:hover {
  display: none;
}

/* Popup 2 */
.popup2{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  background: rgba(0,0,0,.5);

  display: none;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  z-index: 9999;
}

.popup2.active2{
  display: flex;
}

.popup-box2{
  backdrop-filter: blur(6px);
  background: rgba(255,255,255,.7);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  /* ép giữa tuyệt đối */
  position: relative;
}


#popupText2 {
  color: white;
  font-size: 100px;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px 20px;
}

#motaTool {
  margin-bottom: 20px;
  text-indent: 100px;
  padding: 10px;
  border-radius: 10px;
}

body.lock-scroll{
  overflow: hidden;
}

div>div>button#btn-closePopup2 {
  border-radius: 25px;
  bottom: 0;
  margin: 5vh 0;
  position: absolute;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: 900;
  background-color: black;
  transition: all ease 0.3s;
}

div>div>button#btn-closePopup2:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: 2px red solid;
  color: red;
  background-color: white;
  box-shadow: 0 0 18px red;
}

div>div>button.btn-openTool {
  border-radius: 25px;
  transition: all ease 0.3s;
  padding: 10px 20px;
}

div>div>button.btn-openTool:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: 2px green solid;
  color: green;
  background-color: white;
  box-shadow: 0 0 18px green;
}

div>div>div.heading {
  background-color: transparent;
  display: flex;
  text-shadow: 0 0 18px lightgreen;
}

/* Điện thoại */
@media (max-width: 450px) {
  div, p, button {
    display: none;
  }
  footer {
    display: none;
  }
  li {
    display: none;
  }
  h3 {
    display: none;
  }
  note {
    display: block;
  }
}

@media (max-width: 1225px) {
  .test, .test2 {
    display: none;
  }
  .menu {
    display: none;
  }
  #menu {
    display: none !important;
  }
}
